/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */
/* body {
    max-width: 1920px;
    width: 100%;
} */
/* shared-styles */
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
.display-flex{
    display: flex;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.bgcolor-1{
    background-color: rgba(255, 144, 14, 0.1);
}
/* navbar-styles */

.navbar{
    justify-content: space-between;
}
.brand-name{
    font-weight: bold;
    font-size: 2.8125rem;
}
.nav-items{
    list-style: none;  
    cursor: pointer;
    margin-right: 50px;
}
.nav-link{
    text-decoration: none;
    font-weight: medium;
    font-size: 1.125rem;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}

/* banner-styles */

.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
}
.btn-1{
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 20.5px 25.5px;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
    margin-bottom: 50px;
}
.banner-img{
    width: 100%;
}