/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */
/* body {
    max-width: 1920px;
    width: 100%;
} */
/* shared-styles */
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
.display-flex{
    display: flex;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.bgcolor-1{
    background-color: rgba(255, 144, 14, 0.1);
}
/* navbar-styles */

.navbar{
    justify-content: space-between;
}
.brand-name{
    font-weight: bold;
    font-size: 2.8125rem;
}
.nav-items{
    list-style: none;  
    cursor: pointer;
    margin-right: 50px;
}
.nav-link{
    text-decoration: none;
    font-weight: medium;
    font-size: 1.125rem;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}

/* banner-styles */

.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
}
.btn-1{
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 20.5px 25.5px;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
    margin-bottom: 50px;
}
.banner-img{
    width: 100%;
}

/* main-styles */

main{
    /* max-width: 1440px; */
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}

/* teams-styles */

.teams{
    justify-content: center;
    align-items: center;
    gap: 73px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    max-width: 537px;
}
.feature-title, .section-title{
    font-size: 3rem;
}
#quick-list{
    font-weight: 500;
}
#features{
    color: #FF900E;
}
.our-features > p, .section-text{
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 32px;
    line-height: 26px;
}

/* features-styles */

.features-section{
    margin: 0 auto;
    max-width: 1440px;
    justify-content: center;
    gap: 140px;
    margin-top: 130px;
}

.features-section > div > div > .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.features-section > div > div > p{
    max-width: 586px;
    margin-bottom: 30px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    max-width: 586px;
    margin-bottom: 20px;
}
.card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.card-text{
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 0px;
}
#badge{
    padding: 45px 42px;
    margin-left: -90px;
    margin-top: -77px;
}
#experience-year{
    font-weight: 700;
    font-size: 4rem;
}
#experience{
    font-weight: 500;
    font-size: 1.5rem;
}
/* fact-styles */

.section-intro{
    max-width: 1392px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.fact-container{
    max-width: 1340px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
}
.fact{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 10px;
}

/* sponsor-related */

.sponsor-info{
    text-align: center;
    margin-bottom: 50px;
    max-width: 542px;
    display: flex;
    margin: 0 auto;
}
.sponsor-img-container{
    gap: 155px;
    justify-content: center;
    align-items: center;
}

/* footer-styles */

.footer-container{
    max-width: 1440px;
    border: none;
    border-radius: 8px;
    text-align: center;
    margin: 130px auto 216px;
    background-color: #FFF4E7;
    padding: 40px ;
}
.footer-text{
    font-weight: 400;
    font-size: 1.25rem;
}
/* media-query */

@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams, .features-section{
        flex-direction: column;
        gap: 50px;
    }
    .teams{
        margin-left: 20px;
        margin-right: 20px;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        text-align: center;
    }
    .section-intro, .fact-container{
        margin: 0 auto;
        text-align: center;
    }
    .fact-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
        justify-items: center;
    }
    .sponsor-img-container{
        /* flex-direction: column; */
        gap: 50px;
        flex-wrap: wrap;
    }
    .sponsor-info{
        margin-left: 20px;
        margin-right: 20px;
    }
    #architect-img{
        width: 100%;
    }
    #badge{
        width: 100%;
        margin-left: 0px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 576px) and (max-width: 960px) {
     .navbar, .nav-links, .teams, .features-section{
        flex-direction: column;
        gap: 50px;
    }
    .teams{
        margin-left: 20px;
        margin-right: 20px;
    }    
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
        
    } 
    .our-features{
        text-align: center;
    }
    .section-intro, .fact-container{
        margin: 0 auto;
        text-align: center;
    }
    .fact-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        justify-items: center;
    }
    .sponsor-info{
        margin: 0 auto;
    }
    .sponsor-img-container{
        /* flex-direction: column; */
        gap: 50px;
        flex-wrap: wrap;
    }
    .feature-cards-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
    #architect-img{
        width: 100%;
    }
    #badge{
        width: 100%;
        margin-left: 0px;
        margin-top: 50px;
    }
}
