/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */
/* body {
    max-width: 1920px;
    width: 100%;
} */
/* shared-styles */
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
.display-flex{
    display: flex;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.bgcolor-1{
    background-color: rgba(255, 144, 14, 0.1);
}
/* navbar-styles */

.navbar{
    justify-content: space-between;
}
.brand-name{
    font-weight: bold;
    font-size: 2.8125rem;
}
.nav-items{
    list-style: none;  
    cursor: pointer;
    margin-right: 50px;
}
.nav-link{
    text-decoration: none;
    font-weight: medium;
    font-size: 1.125rem;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}

/* banner-styles */

.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
}
.btn-1{
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 20.5px 25.5px;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
    margin-bottom: 50px;
}
.banner-img{
    width: 100%;
}

/* main-styles */

main{
    /* max-width: 1440px; */
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}

/* teams-styles */

.teams{
    margin-left: 301px;
    margin-right: 301px;
    align-items: center;
    gap: 73px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    max-width: 537px;
}
.feature-title, .section-title{
    font-size: 3rem;
}
#quick-list{
    font-weight: 500;
}
#features{
    color: #FF900E;
}
.our-features > p, .section-text{
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 32px;
    line-height: 26px;
}

/* fact-styles */

.section-intro{
    max-width: 542px;
    margin-left: 240px;
    margin-bottom: 100px;
}
.fact-container{
    max-width: 1340px;
    margin-left: 290px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 10px;
}
/* media-query */

@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams{
        flex-direction: column;
        gap: 50px;
    }
    .teams{
        margin-left: 20px;
        margin-right: 20px;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        text-align: center;
    }
    .section-intro, .fact-container{
        margin: 0 auto;
        text-align: center;
    }
    .fact-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
    }

}

@media screen and (min-width: 576px) and (max-width: 960px) {
     .teams{
        flex-direction: column;
        gap: 50px;
    }
    .teams{
        margin-left: 20px;
        margin-right: 20px;
    }    
    .team-img-container{
        grid-template-columns: repeat(2, 1fr);
    } 
    .our-features{
        text-align: center;
    }
    .section-intro, .fact-container{
        margin: 0 auto;
        text-align: center;
    }
    .fact-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
    }

}